# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.scratch.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jlmillar\source\repos\fsharp\scratch\.idea\.idea.scratch.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
